@font-face {
    font-family: proximaNovaRegular;
    src: url(../fonts/proximanova-regular.otf);
}

@font-face {
    font-family: proximaNovaSemibold;
    src: url(../fonts/proximanova-semibold.otf);
}

@font-face {
    font-family: proximaNovaLight;
    src: url(../fonts/proximanova-light.otf);
}

body {
    color:rgb(70, 70, 70);
    font-family: proximaNovaRegular;
}

h1 {
    font-family: proximaNovaSemibold;
    font-size: 1.75em;
    margin: 0;
    padding-bottom: 5px;
}

h2 {
    font-size: 1.25em;
    margin: 0;
    padding-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 5px 0 5px 0;
    font-family: proximaNovaLight;
    font-size: 0.9em;
}

li a {
    background-color: rgb(53, 53, 53);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-family: proximaNovaSemibold;
    padding: 2.5px 5px 2.5px 5px;
}

figure {
    margin: 0;
    padding: 0;
}

.site-section {
    background-color: rgb(201, 201, 201);
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.profile-picture {
    width: 25%;
}
